<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    
    <!-- log4j configuration -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4j.properties</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<!-- end log4j configuration -->
    
    <!-- spring-webmvc configuration -->
	<servlet>
		<servlet-name>cloud-messaging</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>cloud-messaging</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<!-- end spring-webmvc configuration -->

	<display-name>cloud-messaging</display-name>

</web-app>
